<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="DEVICE_TYPE" value="E012"/>
    <add key="NO" value="E01201"/>
    <add key="HEARTBEAT_TIMESPAN" value="5000"/>
    <add key="IO_CONTROLLER_IP" value="192.168.1.150"/>
    <add key="IO_CONTROLLER_PORT" value="502"/>
    <add key ="IO_TIMEOUT" value="1000"/>
    <add key="METER_COM" value="COM1"/>
    <add key="POWER_PORT" value="1"/>
    <add key="PLC_IP" value="10.50.57.40"/>
    <add key="PLC_PORT" value="8501"/>
    <add key="WAIT_METER_INIT" value="5000"/>
  </appSettings>
</configuration>